NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_URL=
PUSHER_APP_ID=
PUSHER_CLUSTER=
PUSHER_KEY=
PUSHER_SECRET=
SUPABASE_SERVICE_ROLE_KEY=
CASHFREE_CLIENT_ID=
CASHFREE_CLIENT_SECRET=
CASHFREE_ENV=sandbox